/* Header */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
  margin: 40px;
  overflow-x: hidden;
  
}

.App-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.App-logo {
  height: 40px;
  
}
.App-menu{
  margin-left: 80%;
}


.App-text {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
}
h1{
  font-size: 90px;
}

.App-text p {
  font-size: 21px;
}

.awesome {
  padding: 20px 30px;
  background-color: white;
  color: black;
  margin-top: 60px;
}

/* Boxes */
.icons-boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icons-box {
  width: 15%;
  display: flex;
  flex-direction: column;
}

